h1,
h2,
h3,
.author {
  color: #016ea5;
  text-align: center;
  text-transform: capitalize;
}
form {
  text-align: left;
}
.layout {
  max-width: 700px;
  margin: 5px 5px;
  padding: 50px;
  border-radius: 25px;
  background-image: url("../images/bubbles.jpg");
}

body {
  text-align: center;
  max-width: 42em;
  padding: 2em;
  margin: 0 auto;
  color: #161616;
  background-color: currentColor;
  font-family: monospace;
}
h1 {
  font-weight: 100;
  font-size: 42px;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  padding: 5px;
  color: #2d7ac0;
}
h3 {
  font-size: 20px;
  padding: 5px;
}
hr {
  background-color: white;
}
.temperature {
  color: white;
  font-size: 20px;
}
.todayWeather {
  background-color: transparent;
  border: 2px solid #00b8ec;
  padding: 30px;
  border-radius: 25px;
}
.weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
  font-size: 20px;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
